<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>⇛ FAST ⇛ Logistics</title>
  </head>
  <body>
    <wrapper id="wrapper">
      <div id="profile_div">
        <a class="profile" href="account.html" title="Ein Link zum Account"
          >My Account</a
        >
        <a
          class="profile"
          href="fast_wallet.html"
          title="Ein Link zur FAST Wallet"
          >⇛ FAST ⇛ Wallet</a
        >
      </div>
      <a id="header" href="index.html" title="Ein Link zu unserer Startseite">
        <img
          src="../static/images/logo_2.PNG"
          width="500"
          height="197"
          alt="Das Logo von FAST"
        />
      </a>
      <nav class="navi">
        <a
          class="navi_point"
          href="index.html"
          title="Ein Link zu unserer Startseite"
          >Home</a
        >
        <a
          class="navi_point"
          href="order.html"
          title="Ein Link zu unserer Auftragsseite"
          >Auftrag</a
        >
        <a class="navi_point" href="mine.html" title="Ein Link zu xxx"
          >Übermitteln</a
        >
        <a class="navi_point" href="blockchain.html" title="Ein Link zu xxx"
          >Blockchain</a
        >
      </nav>
      <main id="main">
        <content id="content">
          <h1>Gude, {{name}}!</h1>
          <p>
            Das blindwütig Groschengrab. Der fatal Weichteile. Hupfdohle und
            Schluckspecht duellieren rosig Damenbart. Humbug und Schelm picheln
            altbacken Damenbart. Der Ohrenschmaus friemeln die famos
            Kaffeekränzchen. Das blümerant Zeche frohlocken. Der Quasselstrippe
            berappen die pfundig Kuppelei. Die adrett Herrengedeck foppen. Die
            Schwedenfilm friemeln die schamlos Fressalien. Der
            Promenadenmischung meucheln die verhärmt Geschmeide. Der kess
            Tausendsassa bemuttern. Die feist Mumpitz frohlocken. Das pompös
            Lümmeltüte stagnieren. Der hochnäsig Humbug frohlocken. Himmel,
            Arsch und Zwirn!
          </p>
        </content>
      </main>
    </wrapper>
  </body>
</html>
